<script setup lang="ts">
import { ref } from "vue";
import { RouterView } from "vue-router";
import {
  mdiWeatherSunny,
  mdiWeatherNight,
  mdiFolder,
  mdiAccountMultiple,
  mdiStar,
  mdiPlus,
  mdiCart,
  mdiDelete,
} from "@mdi/js";
import { useCartStore } from "../stores/cart";
import { useProductStore } from "../stores/product";
const useProduct = useProductStore();
const sum = ref(0);
const useCart = useCartStore();
const alert = ref(true);
/* const Sum = (): void => { */
/*   sum.value = price +
}; */
const deleteProduct = (index: number): void => {
  useCart.deleteProduct(index);
};
</script>

<template>
  <v-table>
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th></th>
        <th>price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of useCart.cart" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.product.name }}</td>
        <td>{{ "x" + item.num }}</td>
        <td>{{ item.product.price * item.num }}</td>
        <td>
          <v-btn
            :icon="mdiDelete"
            color="error"
            class="ma-1"
            size="40px"
            @click="deleteProduct(item.id)"
          ></v-btn>
        </td>
      </tr>
      <tr>
        <td>total:</td>
        <td></td>
        <td></td>
        <td>{{ useCart.sumProduct }}</td>
      </tr>
    </tbody>
  </v-table>
  <div>
    <v-alert
      v-model="alert"
      border="start"
      variant="tonal"
      closable
      close-label="Close Alert"
      color="deep-purple-accent-4"
      title="Warning!!"
    >
      Please check the list before making payment. because the payment cannot be
      canceled
    </v-alert>
  </div>
</template>
